<ng-include src="'errors.html'"></ng-include>

<div>
    <h2>Edit</h2>
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" class="form-control" ng-model="article.title">
    </div>
    <div class="form-group">
        <label for="intro">Intro</label>
        <textarea id="intro" class="form-control" rows="3" ng-model="article.intro"></textarea>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea id="content" class="form-control" rows="3" ng-model="article.content"></textarea>
    </div>
    <button ng-click="create()" class="btn btn-default btn-primary">Create</button>
</div>