
<div class="row">

    <div class="col-md-3">
        <div id="maindiv" style="">
            <blockquote>
                <p style="text-transform: uppercase;">API info</p>
                <small>Base path: http://localhost:8080</small>
                <small>Version: 1.0</small>
            </blockquote>
        </div>

        <div class="panel-group" >

            <div class="panel panel-default">
                <div class="panel-heading" id="panel-apis">
                    <h4 class="panel-title">
                        API
                    </h4>
                </div>
                <div id="_panel-apis" class="panel-collapse collapse in" aria-labelledby="panel-apis"
                     aria-expanded="true">
                    <div class="panel-body">
                        <div id="apidiv">
                            <ul class="list-unstyled">
                                <li><a href="#endpoints-articles" du-smooth-scroll>Articles
                                    endpoints</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" id="panel-objects">
                    <h4 class="panel-title">
                        <a href="#_panel-objects" data-toggle="collapse"
                           data-parent="#side-accordion" aria-controls="_panel-objects" aria-expanded="false"
                           class="collapsed">Objects</a>
                    </h4>
                </div>
                <div id="_panel-objects" class="panel-collapse" aria-labelledby="panel-objects"
                     aria-expanded="false">
                    <div class="panel-body">
                        <div id="objectdiv">
                            <ul class="list-unstyled">
                                <li style="text-transform: uppercase;">articles</li>
                                <li><a href="#objects-article" du-smooth-scroll>article</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="col-md-9">
        <div id="content">
            <blockquote id="endpoints-articles">
                <p style="text-transform: uppercase;"><span id="apiName">Articles endpoints</span></p>
                <small><span id="apiDescription">Retrieve articles, all or specify by id. You can also create new articles and edit existing.</span>
                </small>
                <small><span id="apiSupportedVersions">Since version: 1.0</span></small>
                <small><a href="#top" du-smooth-scroll>back to top</a></small>
            </blockquote>


            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" id="4bc29a60-633a-4ea9-86bb-fed326debeda">
                        <h4 class="panel-title">
                            <span class="label pull-right GET">GET</span>
                            <a href="#_4bc29a60-633a-4ea9-86bb-fed326debeda"
                               rel="method" data-toggle="collapse" data-parent="#accordion"
                               aria-controls="_4bc29a60-633a-4ea9-86bb-fed326debeda" aria-expanded="false"
                               class="collapsed">/articles</a>
                        </h4>
                    </div>
                    <div id="_4bc29a60-633a-4ea9-86bb-fed326debeda" class="panel-collapse" role="tabpanel"
                         aria-labelledby="4bc29a60-633a-4ea9-86bb-fed326debeda" aria-expanded="false"
                        >
                        <div class="panel-body">
                            <table class="table table-condensed table-bordered" style="table-layout: fixed;">
                                <tbody>
                                <tr>
                                    <th style="width:18%;">Path</th>
                                    <td><code>/articles</code></td>
                                </tr>

                                <tr>
                                    <th>Description</th>
                                    <td>Get a list of all available articles</td>
                                </tr>

                                <tr>
                                    <th>Auth</th>
                                    <td>NONE, Roles: anonymous</td>
                                </tr>

                                <tr>
                                    <th colspan="2">Produces</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <code>application/json</code>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2">Response status code</th>
                                </tr>
                                <tr>
                                    <td colspan="2"><code>200</code></td>
                                </tr>
                                <tr>
                                    <th colspan="2">Response object</th>
                                </tr>
                                <tr>
                                    <td colspan="2"><code>list of article</code></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" id="35c1e4fb-2354-4121-b40d-98cbd891137c">
                        <h4 class="panel-title">
                            <span class="label pull-right POST">POST</span>
                            <a href="#_35c1e4fb-2354-4121-b40d-98cbd891137c"
                               rel="method" data-toggle="collapse" data-parent="#accordion"
                               aria-controls="_35c1e4fb-2354-4121-b40d-98cbd891137c" aria-expanded="false"
                               class="collapsed">/articles</a>
                        </h4>
                    </div>
                    <div id="_35c1e4fb-2354-4121-b40d-98cbd891137c" class="panel-collapse" role="tabpanel"
                         aria-labelledby="35c1e4fb-2354-4121-b40d-98cbd891137c" aria-expanded="false">
                        <div class="panel-body">
                            <table class="table table-condensed table-bordered" style="table-layout: fixed;">
                                <tbody>
                                <tr>
                                    <th style="width:18%;">Path</th>
                                    <td><code>/articles</code></td>
                                </tr>

                                <tr>
                                    <th>Description</th>
                                    <td>Create a new article</td>
                                </tr>

                                <tr>
                                    <th>Auth</th>
                                    <td>NONE, Roles: anonymous</td>
                                </tr>

                                <tr>
                                    <th colspan="2">Produces</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <code>application/json</code>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2">Consumes</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <code>application/json</code>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2">Body object</th>
                                </tr>
                                <tr>
                                    <td colspan="2"><code>article</code></td>
                                </tr>
                                <tr>
                                    <th colspan="2">Response status code</th>
                                </tr>
                                <tr>
                                    <td colspan="2"><code>201 - Created</code></td>
                                </tr>
                                <tr>
                                    <th colspan="2">Response object</th>
                                </tr>
                                <tr>
                                    <td colspan="2"><code>article</code></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" id="865ee7cd-af72-4359-9d61-d9c17fa573b9">
                        <h4 class="panel-title">
                            <span class="label pull-right GET">GET</span>
                            <a href="#_865ee7cd-af72-4359-9d61-d9c17fa573b9"
                               rel="method" data-toggle="collapse" data-parent="#accordion"
                               aria-controls="_865ee7cd-af72-4359-9d61-d9c17fa573b9" aria-expanded="true" class="">/articles/{id}</a>
                        </h4>
                    </div>
                    <div id="_865ee7cd-af72-4359-9d61-d9c17fa573b9" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="865ee7cd-af72-4359-9d61-d9c17fa573b9" aria-expanded="true">
                        <div class="panel-body">
                            <table class="table table-condensed table-bordered" style="table-layout: fixed;">
                                <tbody>
                                <tr>
                                    <th style="width:18%;">Path</th>
                                    <td><code>/articles/{id}</code></td>
                                </tr>

                                <tr>
                                    <th>Description</th>
                                    <td>Get a specific article based on id</td>
                                </tr>

                                <tr>
                                    <th>Auth</th>
                                    <td>NONE, Roles: anonymous</td>
                                </tr>

                                <tr>
                                    <th colspan="2">Produces</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <code>application/json</code>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2">Response status code</th>
                                </tr>
                                <tr>
                                    <td colspan="2"><code>200</code></td>
                                </tr>
                                <tr>
                                    <th colspan="2">Response object</th>
                                </tr>
                                <tr>
                                    <td colspan="2"><code>article</code></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" id="ff049ccf-6b5c-4b57-be56-3ab996bd6899">
                        <h4 class="panel-title">
                            <span class="label pull-right PUT">PUT</span>
                            <a href="#_ff049ccf-6b5c-4b57-be56-3ab996bd6899"
                               rel="method" data-toggle="collapse" data-parent="#accordion"
                               aria-controls="_ff049ccf-6b5c-4b57-be56-3ab996bd6899" aria-expanded="false"
                               class="collapsed">/articles/{id}</a>
                        </h4>
                    </div>
                    <div id="_ff049ccf-6b5c-4b57-be56-3ab996bd6899" class="panel-collapse" role="tabpanel"
                         aria-labelledby="ff049ccf-6b5c-4b57-be56-3ab996bd6899" aria-expanded="false">
                        <div class="panel-body">
                            <table class="table table-condensed table-bordered" style="table-layout: fixed;">
                                <tbody>
                                <tr>
                                    <th style="width:18%;">Path</th>
                                    <td><code>/articles/{id}</code></td>
                                </tr>

                                <tr>
                                    <th>Description</th>
                                    <td>Edit a specific article</td>
                                </tr>

                                <tr>
                                    <th>Auth</th>
                                    <td>NONE, Roles: anonymous</td>
                                </tr>

                                <tr>
                                    <th colspan="2">Produces</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <code>application/json</code>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2">Consumes</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <code>application/json</code>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2">Body object</th>
                                </tr>
                                <tr>
                                    <td colspan="2"><code>article</code></td>
                                </tr>
                                <tr>
                                    <th colspan="2">Response status code</th>
                                </tr>
                                <tr>
                                    <td colspan="2"><code>200</code></td>
                                </tr>
                                <tr>
                                    <th colspan="2">Response object</th>
                                </tr>
                                <tr>
                                    <td colspan="2"><code>article</code></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" id="8f920855-9dae-485d-b6d8-dae378377591">
                        <h4 class="panel-title">
                            <span class="label pull-right DELETE">DELETE</span>
                            <a href="#_8f920855-9dae-485d-b6d8-dae378377591"
                               rel="method" data-toggle="collapse" data-parent="#accordion"
                               aria-controls="_8f920855-9dae-485d-b6d8-dae378377591" aria-expanded="false"
                               class="collapsed">/articles/{id}</a>
                        </h4>
                    </div>
                    <div id="_8f920855-9dae-485d-b6d8-dae378377591" class="panel-collapse" role="tabpanel"
                         aria-labelledby="8f920855-9dae-485d-b6d8-dae378377591" aria-expanded="false">
                        <div class="panel-body">
                            <table class="table table-condensed table-bordered" style="table-layout: fixed;">
                                <tbody>
                                <tr>
                                    <th style="width:18%;">Path</th>
                                    <td><code>/articles/{id}</code></td>
                                </tr>

                                <tr>
                                    <th>Description</th>
                                    <td>Delete a specific article</td>
                                </tr>

                                <tr>
                                    <th>Auth</th>
                                    <td>NONE, Roles: anonymous</td>
                                </tr>

                                <tr>
                                    <th colspan="2">Produces</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <code>application/json</code>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2">Consumes</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <code>application/json</code>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2">Response status code</th>
                                </tr>
                                <tr>
                                    <td colspan="2"><code>200</code></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <blockquote id="objects-article">
                <p style="text-transform: uppercase;">Article object</p>
                <small><a href="#top" du-smooth-scroll>back to top</a></small>
            </blockquote>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"></h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed table-striped table-bordered" style="table-layout: fixed;">
                            <tbody><tr><th style="width:18%;">Name</th><td><code>article</code></td></tr>
                            <tr><th colspan="2">Fields</th></tr>
                            <tr><td><code>id</code></td><td></td></tr>
                            <tr><td></td><td>Required: false</td></tr>
                            <tr><td></td><td>Type: <code>integer</code></td></tr>
                            <tr><td><code>threadId</code></td><td></td></tr>
                            <tr><td></td><td>Required: false</td></tr>
                            <tr><td></td><td>Type: <code>integer</code></td></tr>
                            <tr><td><code>title</code></td><td></td></tr>
                            <tr><td></td><td>Required: false</td></tr>
                            <tr><td></td><td>Type: <code>string</code></td></tr>
                            <tr><td><code>intro</code></td><td></td></tr>
                            <tr><td></td><td>Required: false</td></tr>
                            <tr><td></td><td>Type: <code>string</code></td></tr>
                            <tr><td><code>content</code></td><td></td></tr>
                            <tr><td></td><td>Required: false</td></tr>
                            <tr><td></td><td>Type: <code>string</code></td></tr>
                            <tr><td><code>createdAt</code></td><td></td></tr>
                            <tr><td></td><td>Required: false</td></tr>
                            <tr><td></td><td>Type: <code>date</code></td></tr>
                            <tr><td><code>publishOn</code></td><td></td></tr>
                            <tr><td></td><td>Required: false</td></tr>
                            <tr><td></td><td>Type: <code>date</code></td></tr>
                            <tr><td><code>authorNames</code></td><td></td></tr>
                            <tr><td></td><td>Required: false</td></tr>
                            <tr><td></td><td>Type: <code>string</code></td></tr>
                            <tr><td><code>hidden</code></td><td></td></tr>
                            <tr><td></td><td>Required: false</td></tr>
                            <tr><td></td><td>Type: <code>boolean</code></td></tr>
                            </tbody></table>

                        <pre class="prettyprint prettyprinted"><span class="pun">{</span><span class="pln">
  </span><span class="str">"threadId"</span><span class="pun">:</span><span class="pln"> </span><span
                                class="lit">0</span><span class="pun">,</span><span class="pln">
  </span><span class="str">"createdAt"</span><span class="pun">:</span><span class="pln"> </span><span
                                class="pun">{},</span><span class="pln">
  </span><span class="str">"hidden"</span><span class="pun">:</span><span class="pln"> </span><span
                                class="kwd">true</span><span class="pun">,</span><span class="pln">
  </span><span class="str">"intro"</span><span class="pun">:</span><span class="pln"> </span><span class="str">""</span><span
                                class="pun">,</span><span class="pln">
  </span><span class="str">"authorNames"</span><span class="pun">:</span><span class="pln"> </span><span
                                class="str">""</span><span class="pun">,</span><span class="pln">
  </span><span class="str">"id"</span><span class="pun">:</span><span class="pln"> </span><span
                                class="lit">0</span><span class="pun">,</span><span class="pln">
  </span><span class="str">"publishOn"</span><span class="pun">:</span><span class="pln"> </span><span
                                class="pun">{},</span><span class="pln">
  </span><span class="str">"title"</span><span class="pun">:</span><span class="pln"> </span><span class="str">""</span><span
                                class="pun">,</span><span class="pln">
  </span><span class="str">"content"</span><span class="pun">:</span><span class="pln"> </span><span
                                class="str">""</span><span class="pln">
</span><span class="pun">}</span></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .GET {
        padding-top : 5px;
        background-color: #468847;
    }
    .PATCH {
        padding-top : 5px;
        background-color: #5bc0de;
    }
    .POST {
        padding-top : 5px;
        background-color: #3A87AD;
    }
    .PUT {
        padding-top : 5px;
        background-color: #F89406;
    }
    .DELETE {
        padding-top : 5px;
        background-color: #B94A48;
    }
    .OPTIONS {
        padding-top : 5px;
        background-color: #6B5463;
    }
    .TRACE {
        padding-top : 5px;
        background-color: #8E6C6E;
    }
    .HEAD {
        padding-top : 5px;
        background-color: #AA9A66;
    }

    blockquote small:before {
        content: "";
    }

    .playground-spacer {
        margin-top: 15px;
    }

    .com { color: #93a1a1; }
    .lit { color: #195f91; }
    .pun, .opn, .clo { color: #93a1a1; }
    .fun { color: #dc322f; }
    .str, .atv { color: #D14; }
    .kwd, .prettyprint .tag { color: #1e347b; }
    .typ, .atn, .dec, .var { color: teal; }
    .pln { color: #48484c; }

    .prettyprint {
        padding: 8px;
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
    }
    .prettyprint.linenums {
        -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
        -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
        box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    }

    /* Specify class=linenums on a pre to get line numbering */
    ol.linenums {
        margin: 0 0 0 33px; /* IE indents via margin-left */
    }
    ol.linenums li {
        padding-left: 12px;
        color: #bebec5;
        line-height: 20px;
        text-shadow: 0 1px 0 #fff;
    }

    table td {
        word-wrap: break-word;
    }

    .border-radius-none {
        border-radius: 0px;
    }

    .font-monospace {
        font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    }
</style>