<ng-include src="'errors.html'"></ng-include>

<div ng-show="!notFoundErrors || notFoundErrors.length < 1">
<h1>{{article.title}}</h1>

<p>{{article.content}}</p>

<hr>
<h2>Edit</h2>
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" class="form-control" ng-model="article.title">
    </div>
    <div class="form-group">
        <label for="intro">Intro</label>
        <textarea id="intro" class="form-control" rows="3" ng-model="article.intro"></textarea>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea id="content" class="form-control" rows="3" ng-model="article.content"></textarea>
    </div>
    <button ng-click="update()" class="btn btn-default btn-primary">Update</button>

    <button ng-click="delete(article)" class="btn btn-danger">Delete</button>
</div>