<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rada7 prototype</title>
    <script src="/js/angular.js"></script>
    <script src="/js/angular-route.js"></script>
    <script src="/js/angular-scroll.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body ng-app="Rada7" ng-controller="AppController">

<script type="text/ng-template" id="errors.html">
    <ul class="list-unstyled alert alert-danger" ng-show="generalErrors.length > 0">
        <li>Error code: {{errorCode}}</li>
        <li ng-repeat="error in generalErrors">{{error}}</li>
    </ul>
</script>

<nav class="navbar navbar-default navbar-top" id="top">
    <div class="container">
        <div class="navbar-header" style="height: 70px;">
            <a class="navbar-brand" href="#/"><img src="logo.png" style="height: 40px; width:auto;"></a>
        </div>
        <div id="navbar" class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/">Articles</a></li>
                <li><a href="#/article/create">+ New article</a></li>
                <li><a href="#/docs">Docs</a></li>
            </ul>
            <!--
            <ul class="nav navbar-nav navbar-right">
            </ul>
            -->
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" ng-view></div>

<script src="index.js"></script>

</body>
</html>